// trayres.rc
// Original Code by Massimiliano Miani

#include "tray.h"
//App icon
APP_ICON  ICON  DISCARDABLE  "logo.ico"
//Tray icon
TRAY_ICON  ICON  DISCARDABLE  "logo.ico"
//Pref Icon

//Popup menu icons
IDB_MENU_CHECK BITMAP DISCARDABLE "restore.bmp"
IDB_MENU_CLOSE BITMAP DISCARDABLE "close.bmp"
IDB_MENU_ABOUT BITMAP DISCARDABLE "about.bmp"

//MES_EXIT ICON  DISCARDABLE  "exit.ico"
//MES_ABOUT ICON  DISCARDABLE  "help.ico"
//MES_OPTIONS ICON  DISCARDABLE  "options.ico"

ABOUTDLG DIALOG DISCARDABLE  0, 0, 140, 150
CAPTION "Preferences"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "&Save",ID_DIALOGOK,105,5,30,14
    PUSHBUTTON      "&Close",ID_DIALOGCANCEL,105,30,30,14    
    CHECKBOX        "&Media Status",IDMEDIA_DISABLE,10,10,60,15    
    CHECKBOX        "&Messenger Status",IDMESSENGER,10,22,75,15
  	CHECKBOX        "&Mute/UnMute (XP)",IDSOUND_CONTROL,10,34,85,15
	CHECKBOX        "&Auto Start",IDCHECK_START,10,46,85,15
	CHECKBOX        "&Minimize at start",IDCHECK_MINIMIZE,10,58,85,15
	CHECKBOX        "&Register PAUSE key",ID_PAUSE_HOT,10,70,85,15
    GROUPBOX        "Options",IDD_STATIC1,0,0,100,85
    GROUPBOX        "Y! User",IDD_STATIC2,0,90,100,35   
    GROUPBOX        "Custom Away Message",IDD_STATIC3,0,120,100,30   
    EDITTEXT         ID_YAHOO_USERNAME, 10, 100, 80, 15, 0
    EDITTEXT         ID_CUSTOM_MESSAGE, 10, 130, 80, 15, 0
END


